.footer {
  font-size: clamp(12px, 2vw, 25px);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px clamp(7px, 5vw, 37px);
  text-align: center;
  height: 20dvh;
  width: 100%;
  color: white;
  background-color: black;
}
