.page {
  max-width: 1600px;
  background-color: rgb(255, 255, 255);
  background-image: url("../images/vecteezy_indigo-blue-watercolor-hand-painting-and-splash-abstract_22915577.jpg");
  background-size: cover;
  background-attachment: fixed;

  /* font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal; */

  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  /* frase */

  /* font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal; */

  /* font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal; */
}
@media screen and (min-width: 320px) and (max-width: 1600px) {
}
