.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px clamp(7px, 5vw, 37px);
  text-align: center;
}
.projects_title {
}
.projects_list {
  list-style-type: none;
  padding: 0%;
  display: flex;
  font-size: clamp(9px, 2vw, 70px);
}
.project {
  margin: 0px 7px;
}
